<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybatis.domain.Address">

	<!-- 使用嵌套的resultMap -->
	<resultMap type="Address" id="addressResultMap">
		<id column="addressId" property="addressId"/>
		<result column="addressName" property="addressName"/>
		<result column="postCode" property="postCode"/>
		<result column="addressee" property="addressee"/>
		<association property="user" resultMap="userResultMap"/>
	</resultMap>
	
	<resultMap type="User" id="userResultMap">
		<id column="userId" property="userId"/>
			<result column="userName" property="userName"/>
			<result column="password" property="password"/>
			<result column="comment" property="comment"/>
	</resultMap>
	
	<select id="selectAddress" parameterType="int" resultMap="addressResultMap">
		select * from t_address a left join t_user b on a.userId = b.userId where a.userId = #{userId}
	</select>
</mapper>