<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybatis.mapper.StudentSelfcardMapper">
  <resultMap id="BaseResultMap" type="org.example.mybatis.domain.StudentSelfcard">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_native" jdbcType="VARCHAR" property="studentNative" />
    <result column="issue_date" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, student_id, student_native, issue_date, end_date, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student_selfcard
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_student_selfcard
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.example.mybatis.domain.StudentSelfcard">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_student_selfcard (student_id, student_native, issue_date,
      end_date, note)
    values (#{student.id,jdbcType=INTEGER}, #{studentNative,jdbcType=VARCHAR}, #{issueDate,jdbcType=TIMESTAMP},
      #{endDate,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.example.mybatis.domain.StudentSelfcard">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_student_selfcard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        student_id,
      </if>
      <if test="studentNative != null">
        student_native,
      </if>
      <if test="issueDate != null">
        issue_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentNative != null">
        #{studentNative,jdbcType=VARCHAR},
      </if>
      <if test="issueDate != null">
        #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.example.mybatis.domain.StudentSelfcard">
    update t_student_selfcard
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentNative != null">
        student_native = #{studentNative,jdbcType=VARCHAR},
      </if>
      <if test="issueDate != null">
        issue_date = #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.example.mybatis.domain.StudentSelfcard">
    update t_student_selfcard
    set student_id = #{studentId,jdbcType=INTEGER},
      student_native = #{studentNative,jdbcType=VARCHAR},
      issue_date = #{issueDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>