<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybatis.domain.Address">

	<resultMap type="Address" id="addressResultMap">
		<id column="addressId" property="addressId"/>
		<result column="addressName" property="addressName"/>
		<result column="postCode" property="postCode"/>
		<result column="addressee" property="addressee"/>
		<association property="user" column="userId" javaType="User">
			<id column="userId" property="userId"/>
			<result column="userName" property="userName"/>
            <result column="password" property="password"/>
			<result column="comment" property="comment"/>
		</association>
	</resultMap>

	<select id="selectAddress" parameterType="int" resultMap="addressResultMap">
		select * from t_address a left join t_user b on a.userId = b.userId where a.userId = #{userId}
	</select>

	<insert id="inserAddress" parameterType="address">
		insert into t_address(addressName, addressee, postCode, userId) VALUES(#{addressName},#{addressee},#{postCode},#{user.userId})
	</insert>
</mapper>